body {
    
    /* padding-left: 2%; */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#icone {
    position: relative;
    top: 2vh;
    right: 1vh;
}

#icone_titre{
    position: relative;
    top: 3vh;
    left: 2vh;
}

.tableau {
    height: 10vh;
    width: 85vh;
    margin-bottom: 15vh;
}

#mapid { height: 180px; }

path {

  stroke: rgb(0, 0, 0);
  stroke-width: .5;
  stroke-dasharray: 1;
  fill: #e48e0e;
  
}

#neighborhoodPopover { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}