body {
    
    padding-left: 2%;
    font-family: sans-serif;
}

header {
    padding-bottom: 1rem;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    padding-right: 25rem;
}

#icone {
    position: relative;
    top: 2vh;
    right: 1vh;
}

#icone_titre{
    position: relative;
    top: 3vh;
    left: 2vh;
}

.tableau {
    height: 10vh;
    width: 85vh;
}