body {
    
    padding-left: 2%;
    font-family: sans-serif;
}


#icone {
    position: relative;
    top: 2vh;
    right: 1vh;
}

#icone_titre{
    position: relative;
    top: 3vh;
    left: 2vh;
}